@import '_main_2';
@import '_fonts';
@import '_forms';
@import '_color';
@import '_layout';
@import '_mixins';

/* =Main content and comment content
-------------------------------------------------------------- */

* { font-family:  $font-family-base}
header {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	h1 { text-align: left;
		font-weight: 700;
		position: absolute;
		top: 76px;
	}
	h2 { font-size: 150px;
		text-align: right;
		span { font-size: 16px;}
		small {
			color: red;
			display: block;
			font-size: 20px;
			
		}
	}
}

.project {
	padding-top: 30px;
}

li { margin-left: 30px;}

a.citizens,
a.graphs,
a.pib,
a.deudaperperson,
a:visited.citizens,
a:visited.graphs,
a:visited.pib,
a:visited.deudaperperson  { 
	background: black;
	color: #fff;
	font-size: 12px;
	padding: 5px 15px;
	&.current { background: red;}
}
 
#viz,
#ciudadano,
#pib,
#deudaperperson { 
 	margin: 0 auto;
 	z-index: 9999;
 	height: 500px;
}

#ciudadano { padding-bottom: 20px;}


footer {
	margin-top: 40px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
	p {
		color: #ccc;
		font-size: 11px;
		text-align: center;}
}

/* =Media queries
-------------------------------------------------------------- */
@media  screen and (min-width: 480px) and (max-width: 991px) {

}

/* max-width: 480px
-------------------------------------------------------------- */
@media  screen and (max-width: 480px) {

}

/* min-width: 481px and max-width:767px
-------------------------------------------------------------- */
@media  screen and (min-width: 481px) and  (max-width:767px) {

}


/* =Print
----------------------------------------------- */

@media print {
	
}